<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated programmes -->
      <package
            uri="platform:/plugin/no.tdt4250.model/model/programmes."
            class="programmes.ProgrammesPackage"
            genModel="model/programmes.genmodel"/>
   </extension>

</plugin>
